@import "./style.css";

.fa-caret-down {
    font-size: 4.6rem;
}

h1 {
    font-size: 4.7rem;
    margin-bottom: 7.5vh;
}

.subtitle {
    font-size: 1.4rem;
}

p {
    margin-top: var(--spacing);
    font-size: 1.4rem;
}

header img {
    margin-left: 214px;
}

#landing-page {
    padding-top: 27vh;
}

#landing-page h1 {
    font-size: 6.4rem;
}

.list-projects-container .subtitle {
    padding: 1rem 3.8rem;
}

.illustration-project {
    min-width: 29em;
}

#illustration-1 {
    min-height: 20em;
}

#illustration-2 {
    min-height: 12em;
}

.list-contact-container {
    padding-top: 13vh;
}