@import "./style.css";

h1 {
    font-size: 2.2rem;
    margin-bottom: 7.5vh;
}

p {
    font-size: 1.7rem;
}

header img {
    display: none;
}

.fa-circle-half-stroke {
    top: 2.5rem;
}

.menu-box {
    
}

#landing-page {
    padding-top: 26vh;
    word-wrap: break-word;
}

#landing-page h1 {
    font-size: 3rem;
    max-width: 40%;
}

#landing-page i {
    margin-top: 9vh;
}

h1 {
    font-size: 4.7rem;
    margin-bottom: 7.5vh;
}

.subtitle {
    font-size: 1.4rem;
}

p {
    margin-top: var(--spacing);
    font-size: 1.4rem;
}

header img {
    margin-left: 214px;
}

#landing-page {
    padding-top: 27vh;
}

#landing-page h1 {
    font-size: 6.4rem;
}

.list-projects-container .subtitle {
    padding: 1rem 3.8rem;
}

.illustration-project {
    min-width: 29em;
}

#illustration-1 {
    min-height: 20em;
}

#illustration-2 {
    min-height: 12em;
}

.list-contact-container {
    padding-top: 13vh;
}
